// Define variables for your color scheme

// For example:
$red: #E90D89;
$blue: #5364FA;
$yellow: #FFD34E;
$orange: #FF8959;
$green: #1EDD88;
$turquose: #28D2C9;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #E90D89;
$coral: #FF8959;