h1{
  font-size: 36px;
  text-align: center;
}

h2{
  text-align: center;
  font-size: 24px;
}

h3{
  font-size: 16px;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}
ul {
  list-style-type: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  // text-decoration: none;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit
}

a.hover {
  font-size: 24px;
  text-decoration: none;
}

// .centered {
//   position: absolute; 
//   top: 50%;
//   left: 50%;
// }
body {
  background-color:#e67d22c5;
}