.home-banner {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fmother%2520and%2520daughter%2F&psig=AOvVaw3HlRkmlK7mhGUh3NNaIO44&ust=1605720392672000&source=images&cd=vfe&ved=2ahUKEwiwiZfejIrtAhVLg1wKHSMeDiQQjRx6BAgAEAc");
  background-size: cover;
  height: 620px;
  text-align: center;
  vertical-align: center;
}
