.home-banner {
  background-image: url("https://res.cloudinary.com/dbybfcjmu/image/upload/v1605634840/PortraitGiftPic_xz7msk.jpg");
  background-size: cover;
  height: 620px;
  text-align: center;
  vertical-align: center;
}
