.home-banner {
  background-image: url("https://res.cloudinary.com/dbybfcjmu/image/upload/v1605713693/landing_svglr3.png");
  background-size: cover;
  height: 640px;
  text-align: center;
  vertical-align: center;
  padding-top: 150px;
  text-color: white;
}

.home-text h1, h2 {
  color: white;
  size: 60px;
  font-weight: bold;
}

.home-buttons {
  padding-top: 200px;
  text-color: white;
}
