.dash-container{
  padding: 10px;
  background-color: #5268f88f;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  margin: 10px;
}

// .dash-section {
//   border: 10px;
//   width:auto;
//   box-shadow: 3px 3px 3px 3px grey;
//   margin:10px;
//   background-color: red;
//   flex-direction: column;
//   justify-content: space-between;
//   padding: 10px;
  
// }