<div class= "limiter">
  <div class= "container  text-center my-3">
    <div class= "wrap-newgift">
      <div class= "newpot-form">
        <span class= "newpot-form-title p-b-66">
          Add a Gift Option
        </span>
        <div>
          <%= simple_form_for [@pot, @gift] do |f| %>
            <%= f.input :name, label: "Gift's name", placeholder: "PlayStation 5", input_html: { autocomplete: "off"} %>
            <div class= "container-btn-submit">
              <%= f.submit "Add Gift", class: "btn-p mt-3" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>