
<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Contribution of <strong><%= humanized_money_with_symbol @contribution.amount %></strong> to <strong><%= @pot.name %></strong></p>
      <%#= raise %>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @contribution.session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
