
//copied buttons
//from https://codepen.io/oliviale/pen/vPvvyr
//HTML: .main-content
  //.item.button-jittery(style="--bg-color: #COLOUR;")
    //button Click Me!
    //.name Subtlety

  //.item.button-pulse(style="--bg-color: #COLOUR")
    //.button__wrapper
      //.pulsing
      //button Click Me!
    //.name Dubstep

.blue-btn {
    background-color: #5267F8;
    color: white;
    // border-color: #343a40;
    display: inline-block;
    font-weight: 450;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    width: 120px;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.standard-button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 15px;
  padding: 0.8rem 2rem;
  font: 36px, Roboto;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.name {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem;
  font: 500 14px 'Rubik', sans-serif;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.button__wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-pulse {
  button {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .button__wrapper:hover .pulsing {
    &:before {
      animation: pulsing 0.5s linear infinite;
    }
    &:after {
      animation: pulsing1 0.5s linear infinite;
    }
  }
}

.pulsing {
  width: 99%;
  height: 99%;
  border-radius: 50px;
  z-index: 1;
  position: relative;

  &:before,
  &:after {
    width: 100%;
    height: 100%;
    border: inherit;
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    border-radius: inherit;
    animation: pulsing 2.5s linear infinite;
  }
  &:after {
    animation: pulsing1 2.5s linear infinite;
  }
}

@keyframes pulsing {
  0% {
    opacity: 1;
    transform: scaleY(1) scaleX(1);
  }
  20% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
    transform: scaleY(1.8) scaleX(1.4);
  }
  80% {
    opacity: 0;
    transform: scaleY(1.8) scaleX(1.4);
  }
  90% {
    opacity: 0;
    transform: scaleY(1) scaleX(1);
  }
}


.button-jittery button {
  animation: jittery 8s infinite;
  &:hover {
    animation: heartbeat 0.5s infinite;
  }
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}

.submit-bgbtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

button {
  outline: none!important;
  border: none;
  background: 0 0;
}

.card-pot-btn {
  display: inline-block;
  border-radius: 3px;
  background-color: $green;
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;
  box-sizing: border-box;
  right: 60px;
  padding: 5px;
}

.btn-bg {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(250, 250, 250, 0.63);
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.35);
  text-align:center;
  transition: all 0.2s;
  // background-color:#D20E85;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
}

.btn-sm {
  display:inline-block;
  padding:0.8em 1.2em;
  // margin:10% 30%;
  border:0.16em solid rgba(250, 250, 250, 0.63);
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.35);
  text-align:center;
  transition: all 0.2s;
  // background-color:#D20E85;
  text-transform: uppercase;
  height: 50px;
}

.btn-inv {
  display:inline-block;
  padding:10px 20px;
  // margin:10% 30%;
  border:0.16em solid rgba(250, 250, 250, 0.63);
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.35);
  text-align:center;
  transition: all 0.2s;
  // background-color:#D20E85;
  text-transform: uppercase;
  height: 35px;
  width: auto;
}

.btn-inv-strong {
  display:inline-block;
  padding:10px;
  // margin:10% 30%;
  border:0.16em solid rgba(250, 250, 250, 0.63);
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.35);
  text-align:center;
  transition: all 0.2s;
  background-color:#D20E85;
  height: 35px;
  width: auto;
  vertical-align: center;
}


a {
text-decoration: none;
}

.bgy {
  background-color:#FFD34E;
}

.bgb {
  background-color:#5364FA;
}

.bgg {
  background-color:#1EDD88;
}

.bgp {
  background-color:#E90D89;
}
.bgo {
  background-color: #FF8959;
}
.bgt {
  background-color: #28D2C9;
}


.btn-sm:hover {
  opacity: 0.5;
}

.btn:hover {
  opacity: 0.5;
}


.card-pot-delete-btn {
  color: $red;
}

.card-pot-delete-btn:hover {
  opacity: 0.2;
}

.btn-sm-b {
  display:inline-block;
  padding:0.8em 1.2em;
  // margin:10% 30%;
  border:0.16em solid rgba(30, 221, 136,0.9);
  border-radius:5px;
  box-sizing: border-box;
  text-decoration:none;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.35);
  text-align:center;
  transition: all 0.2s;
  // background-color:#D20E85;
  text-transform: uppercase;
  height: 50px;
}

.gb {
  border-color: #1EDD88;
}

.btn-sqr {
	border-radius:3px;
	border:2px solid;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	padding:31px 31px;
  text-decoration:none;
  height: 100px;
}
