.navbar-lewagon {
  justify-content: space-between;
  background: rgba(82, 103, 248, 0.6);
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

#topnav {
  display:none;
}
