a {
    color: white;
    text-decoration: none;
  }
a:hover {
    text-decoration: none;
    color: white;
}

.container h2{
    color: black;
}

i {
    color: red;
    padding: 2px;
    font-size: small;
}
.chat-btn {
    padding: 20px;
    border-radius: 50%;
    background-color: red;
}
